@use "./mixins" as *;
.main-container {
  width: 100%;
  max-width: 1300px;
  height: max-content;
  padding: 25px;

  @include flex(column);

  & > * {
    width: 100%;
    margin-bottom: 100px;
    @media screen and (min-width: 540px) {
      margin-bottom: 150px;
    }
    @media screen and (min-width: 765px) {
      margin-bottom: 220px;
    }
    &:not(#intro) {
      @include beforeTransition(100px, 1s);
    }
  }
  @media screen and (min-width: 480px) {
    padding: 50px;
  }

  @media screen and (min-width: 765px) {
    padding: 100px;
  }
  @media screen and (min-width: 1080px) {
    padding: 130px;
  }
}

.section-header {
  color: var(--lightest-grey);
  width: 100%;
  @include flex(row, flex-start);
  white-space: nowrap;
  font-size: clamp(26px, 5vw, 32px);

  &::after {
    content: "";
    height: 1px;
    margin-left: 0.3em;
    display: block;
    background-color: var(--lightest-navy);
    width: 100%;
  }
  margin-bottom: 1rem;
  @media screen and (min-width: 765px) {
    margin-bottom: 2rem;
  }
}

.btn_link {
  color: var(--green);
  display: block;
  border: 1px solid var(--green);
  border-radius: 2px;
  padding: 0.8em 2em;
  transition: background-color var(--transition);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--green-tint);
  }
}
