@use "./mixins" as *;

.contact-container {
  @include flex(column);
  padding-top: 100px;
  max-width: 600px;
  text-align: center;
  margin: auto;
}
.contact {
  &-whatsnext {
    color: var(--green);
    font-size: 1rem;
    text-align: center;
  }
  &-header {
    color: var(--lightest-grey);
    font-size: clamp(40px, 5vw, 60px);
    margin: 1rem 0;
  }
  &-paragraph {
    font-size: var(--fz-paragraph);
    margin: 1.5rem 0 2rem 0;
  }
}
.social_links_container {
  @include flex;
  height: 200px;
  li {
    width: 25px;
    height: 25px;
    margin: 1rem;
  }
  svg {
    color: var(--light-grey);
    transition: color var(--transition);
    &:hover,
    &:focus {
      color: var(--green);
    }
  }
  @media screen and (min-width: 765px) {
    display: none;
  }
}
