@use "./mixins" as *;

@mixin customLink($url) {
  background: center / contain no-repeat
    svg-load($url fill=#ccd6f6, stroke=#ccd6f6);
  &:hover {
    background: center / contain no-repeat
      svg-load($url fill=#64ffda, stroke=#64ffda);
  }
}
@mixin sharedLinkContainer {
  display: flex;
  cursor: pointer;
  pointer-events: auto;
  a {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 0.6rem;
    transition: var(--transition);
  }
}

@mixin sharedTechUsed {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--light-grey);
  word-spacing: 1rem;
  pointer-events: none;
  text-transform: capitalize;
}

.link_github {
  @include customLink("../public/images/github-logo.svg");
}
.link_site {
  @include customLink("../public/images/newtab.svg");
}
.link_info {
  @include customLink("../public/images/info.svg");
  &:focus {
    .info_content {
      display: block;
      transform: none;
      opacity: 1;
    }
  }
}
.info_content {
  text-align: left;
  position: absolute;
  display: none;
  min-height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  color: var(--white);
  background-color: var(--navy);
  border: 10px solid var(--green);
  box-shadow: 0 5px 5px 2px var(--navy-shadow);
  border-radius: 5px;
  @include flex;
  flex-direction: column;
  transition: var(--transition);
  transition-duration: 0.5s;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  z-index: 5;
  cursor: auto;
  &_container {
    @include flex(column);
    width: 100%;
    @media screen and (min-width: 765px) {
      flex-direction: row-reverse;
    }
  }
  .info_content_deatils_container {
    flex: 1;
    padding: 0.5rem;
    color: var(--lightest-grey);
    .content_detail_header {
      margin: 0.5em;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
    h5 {
      font-size: 1rem;
      margin-top: 1rem;
      &::before {
        content: "▹";
        color: var(--green);
        margin-right: 5px;
      }
    }
    p,
    ul {
      color: var(--light-grey);
      padding: 0.3rem calc(1rem + 5px);
    }
    li {
      color: var(--light-grey);
      &::before {
        content: "~";
        margin-right: 2px;
      }
    }
    span.marked {
      color: var(--light-green);
    }
  }
}
.works-container {
  padding-top: 100px;
}
.featured-project {
  position: relative;
  @include beforeTransition(100px, 1s);
  z-index: 1;
  &:focus-within {
    z-index: 50;
  }
  // flex as fallback for grid
  display: flex;
  @supports (display: grid) {
    display: grid;
  }
  margin-top: 2rem;
  margin-bottom: 10rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 2fr 2fr 1fr;

  &-content {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 10;
    opacity: 0.9;
    margin: 2rem auto;
    padding: 2.5rem;
    @media screen and (min-width: 765px) {
      opacity: 1;
      background-color: transparent;
      grid-column: 5 /-1;
      text-align: right;
      pointer-events: none;
      padding-right: 0;
    }
  }

  &-title {
    color: var(--green);
    font-size: 1rem;
    line-height: 0.6;
    margin-bottom: 0.7em;
    letter-spacing: 1px;
    line-height: 1em;
  }

  &-header {
    font-size: clamp(22px, 3vw, 30px);
    margin-bottom: 1em;
    line-height: 1.2;
    color: var(--white);
    a {
      pointer-events: all;
      color: var(--white);
      cursor: pointer;
      &:hover {
        color: var(--green);
      }
    }
  }

  &-paragraph {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    pointer-events: all;
    color: var(--lightest-grey);
    @media screen and (min-width: 765px) {
      background-color: var(--light-navy);
      padding: 1rem;
      transition: box-shadow var(--transition);
      box-shadow: -10px 10px 30px -15px var(--navy-shadow);
      &:hover {
        box-shadow: -20px 20px 30px -15px var(--navy-shadow);
      }
    }
  }
  &-tech_used {
    @include sharedTechUsed;
    @media screen and (min-width: 765px) {
      padding: 0 0 0 30%;
    }
  }
  &-links {
    @include sharedLinkContainer;
    @media screen and (min-width: 765px) {
      justify-content: flex-end;
    }
  }
  &-img {
    grid-column: 1/-1;
    border-radius: 10px;
    grid-row: 1/-1;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    opacity: 0.1;

    @media screen and (min-width: 765px) {
      grid-row: 2/4;
      opacity: 1;
      grid-column: 1/7;
      background-color: var(--light-green);
      transition: background-color var(--transition);
      &:hover {
        background-color: var(--white);
      }
    }
    @media screen and (min-width: 1080px) {
      grid-row: 1/-1;
    }

    img,
    source {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      @media screen and (min-width: 765px) {
        mix-blend-mode: multiply;
      }
    }
  }
}
.featured-project {
  &:nth-of-type(2n + 2) {
    .featured-project-content {
      text-align: left;
      @media screen and (min-width: 765px) {
        grid-column: 1/9;
        padding-right: 2.5rem;
        padding-left: 0;
      }
    }
    .featured-project-paragraph {
      @media screen and (min-width: 765px) {
        box-shadow: 10px 10px 30px -15px var(--navy-shadow);
        &:hover {
          box-shadow: 20px 20px 30px -15px var(--navy-shadow);
        }
      }
    }
    .featured-project-tech_used {
      @media screen and (min-width: 765px) {
        padding: 0 30% 0 0;
      }
    }
    .featured-project-links {
      justify-content: flex-start;
    }

    .featured-project-img {
      @media screen and (min-width: 765px) {
        grid-column: 7/-1;
      }
    }
  }
}
.other-projects {
  @include beforeTransition(100px);

  &-heading {
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    font-size: clamp(24px, 5vw, 30px);
  }
  &-container {
    // flex as fallback for grid
    display: flex;
    flex-direction: column;
    @supports (display: grid) {
      display: grid;
    }
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 50px;
  }
}
.other-project {
  background-color: var(--light-navy);
  padding: 2rem 1.5rem;
  @include beforeTransition(100px, 1s);
  margin: 1rem auto;

  &-links {
    @include sharedLinkContainer;
    justify-content: flex-end;
  }
  &-header {
    margin-bottom: 0.2em;
    font-size: 1.5rem;
    a {
      color: var(--white);
      transition: var(--transition);
      &:hover {
        color: var(--green);
      }
    }
  }
  &-paragraph {
    font-size: 1.2rem;
    height: 100px;
    color: var(--lightest-grey);
    padding: 1rem 0;
  }
  &-footer {
    @include flex(row, space-between);
  }

  &-tech_used {
    @include sharedTechUsed;
  }
  &-img {
    width: 70px;
    height: 50px;
    background-color: var(--grey);
    margin: 1em;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color var(--transition);
    &:hover {
      background-color: var(--white);
    }
    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }
}
