@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

body {
  background-color: var(--navy);
  color: var(--grey);
  -webkit-font-smoothing: antialiased;
}

:root {
  --dark-navy: #020d1c;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --grey: #8892b0;
  --light-grey: #a8b2d1;
  --lightest-grey: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --light-green: #aeffec;
  --green-tint: rgba(100, 255, 218, 0.1);
  --fz-paragraph: clamp(13px, 18px, 21px);
  --rgb-navy: 10, 25, 47;
  --transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main-container {
  width: 100%;
  max-width: 1300px;
  height: max-content;
  padding: 3rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container > * {
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (min-width: 540px) {
  .main-container > * {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 765px) {
  .main-container > * {
    margin-bottom: 220px;
  }
}
@supports (display: grid) {
  .main-container > *:not(#intro) {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease-in-out transform, 1s ease-in-out opacity;
  }
}
@media screen and (min-width: 480px) {
  .main-container {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 765px) {
  .main-container {
    padding: 6rem 6.5rem;
  }
}
@media screen and (min-width: 1080px) {
  .main-container {
    padding: 6rem 8.5rem;
  }
}

.section-header {
  color: var(--lightest-grey);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  font-size: clamp(26px, 5vw, 32px);
  margin-bottom: 1rem;
}
.section-header::after {
  content: "";
  height: 1px;
  margin-left: 0.3em;
  display: block;
  background-color: var(--lightest-navy);
  width: 100%;
}
@media screen and (min-width: 765px) {
  .section-header {
    margin-bottom: 2rem;
  }
}

.btn_link {
  color: var(--green);
  display: block;
  border: 1px solid var(--green);
  border-radius: 2px;
  padding: 0.8em 2em;
  transition: background-color var(--transition);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
.btn_link:hover, .btn_link:focus {
  background-color: var(--green-tint);
}

.header-nav {
  position: fixed;
  width: 100%;
  background-color: rgba(var(--rgb-navy), 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}

.logo_container {
  width: 35px;
  height: 35px;
  margin: 30px 20px 10px 20px;
  cursor: pointer;
}
.logo_container img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 765px) {
  .logo_container {
    margin-top: 0.5em;
    margin: 0 2.3rem;
  }
}

.hambuger-icon {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 200;
  transition: 0.15s linear all;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 765px) {
  .hambuger-icon {
    display: none;
  }
}
.hambuger-icon .ham-line {
  height: 2px;
  width: 100%;
  background-color: var(--green);
  transform-origin: right;
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
.hambuger-icon .ham-line_1 {
  transform: scaleX(1);
}
.hambuger-icon .ham-line_2 {
  transform: scaleX(0.8);
}
.hambuger-icon .ham-line_3 {
  transform: scaleX(0.6);
}
.hambuger-icon.show_nav {
  transform: rotateZ(270deg);
}
.hambuger-icon.show_nav .ham-line_1 {
  transform: scaleX(1) rotate(-40deg);
}
.hambuger-icon.show_nav .ham-line_2 {
  transform: scaleX(1);
  opacity: 0;
}
.hambuger-icon.show_nav .ham-line_3 {
  transform: scaleX(1) rotate(40deg);
}

.drawer-menu {
  position: absolute;
  height: 100vh;
  width: 30vw;
  min-width: 200px;
  z-index: 150;
  right: 0;
  top: 0;
  background-color: var(--light-navy);
  padding-top: 70px;
  transform: translateX(100%);
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
@media screen and (min-width: 765px) {
  .drawer-menu {
    display: none;
  }
}
.drawer-menu-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  min-height: 200px;
  width: 80%;
  font-size: clamp(13px, 4vw, 18px);
}
@media screen and (min-width: 600px) {
  .drawer-menu-container {
    justify-content: space-around;
  }
}
.drawer-menu.show_drawer-menu {
  transform: none;
}

.nav-container {
  padding: 1.85rem 2.3rem;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 765px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.nav-item {
  margin: 0 1rem;
}
@supports (display: grid) {
  .nav-item {
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.6s ease-in-out transform, 0.6s ease-in-out opacity;
  }
}
.nav-link {
  color: var(--white);
  transition: color var(--transition);
}
.nav-link:hover, .nav-link:focus {
  color: var(--green);
}

.fixed-nav {
  display: none;
  position: fixed;
  top: 40vh;
  padding: 0 1.8rem;
}
@media screen and (min-width: 765px) {
  .fixed-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.fixed-nav::after {
  content: "";
  width: 2px;
  background-color: var(--lightest-grey);
  height: 28vh;
  position: fixed;
  bottom: 0;
}
.fixed-nav-left {
  left: 1em;
  color: var(--lightest-grey);
}
.fixed-nav-left li {
  margin: 20px 0;
  width: 20px;
  height: 20px;
}
.fixed-nav-left li svg {
  transition: all var(--transition);
}
.fixed-nav-left li:hover svg {
  color: var(--green);
  transform: translateY(-3px);
}
.fixed-nav-right {
  right: 1em;
}
.fixed-nav-right .email-fixed {
  writing-mode: vertical-rl;
}
.fixed-nav-right .email-fixed a {
  display: block;
  transition: all var(--transition);
}
.fixed-nav-right .email-fixed a:hover {
  color: var(--green);
  transform: translateY(-3px);
}
.fixed-nav a {
  color: var(--lightest-grey);
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}
@supports (display: grid) {
  .intro-container > * {
    transform: translateY(70%);
    opacity: 0;
    transition: 0.6s ease-in-out transform, 0.6s ease-in-out opacity;
  }
}
@media screen and (min-width: 765px) {
  .intro-container {
    padding-top: 0;
    margin-top: -1.5rem;
  }
}
.intro-text {
  font-size: clamp(12px, 5vw, 16px);
  color: var(--green);
  white-space: nowrap;
}
.intro-heading {
  font-size: 40px;
  font-size: clamp(40px, 8vw, 80px);
}
.intro-heading_lg {
  color: var(--lightest-grey);
  margin-bottom: 0.15em;
}
.intro-heading_sub-heading {
  line-height: 1;
}
.intro-paragraph {
  font-size: var(--fz-paragraph);
  margin: 1.5em 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
@media screen and (min-width: 800px) {
  .about-container {
    flex-direction: row;
  }
}
.about-container .about-content p {
  width: 100%;
  margin-bottom: 0.8em;
  font-size: var(--fz-paragraph);
}
.about-container .about-content .skill-set {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 0.5rem;
}
@supports (display: grid) {
  .about-container .about-content .skill-set {
    display: grid;
  }
}
.about-container .about-content .skill-set li::before {
  content: "▹";
  color: var(--green);
}
.about-container .profile-image {
  margin-top: 3rem;
  min-width: 280px;
  max-width: 500px;
  height: 300px;
}
.about-container .profile-image .profile-image_wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: var(--light-green);
  transition: background-color var(--transition);
}
@media screen and (min-width: 800px) {
  .about-container .profile-image .profile-image_wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
  }
}
.about-container .profile-image .profile-image_wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  border: 3px solid var(--green);
  border-radius: 5px;
  z-index: -1;
  transition: transform var(--transition);
}
.about-container .profile-image .profile-image_wrapper:hover {
  background-color: var(--white);
}
.about-container .profile-image .profile-image_wrapper:hover::after {
  transform: translate(-5px, -5px);
}
.about-container .profile-image picture,
.about-container .profile-image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.link_github {
  background: center/contain no-repeat svg-load("../public/images/github-logo.svg" fill=#ccd6f6, stroke=#ccd6f6);
}
.link_github:hover {
  background: center/contain no-repeat svg-load("../public/images/github-logo.svg" fill=#64ffda, stroke=#64ffda);
}

.link_site {
  background: center/contain no-repeat svg-load("../public/images/newtab.svg" fill=#ccd6f6, stroke=#ccd6f6);
}
.link_site:hover {
  background: center/contain no-repeat svg-load("../public/images/newtab.svg" fill=#64ffda, stroke=#64ffda);
}

.link_info {
  background: center/contain no-repeat svg-load("../public/images/info.svg" fill=#ccd6f6, stroke=#ccd6f6);
}
.link_info:hover {
  background: center/contain no-repeat svg-load("../public/images/info.svg" fill=#64ffda, stroke=#64ffda);
}
.link_info:focus .info_content {
  display: block;
  transform: none;
  opacity: 1;
}

.info_content {
  text-align: left;
  position: absolute;
  display: none;
  min-height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  color: var(--white);
  background-color: var(--navy);
  border: 10px solid var(--green);
  box-shadow: 0 5px 5px 2px var(--navy-shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--transition);
  transition-duration: 0.5s;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  z-index: 5;
}
.info_content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 765px) {
  .info_content_container {
    flex-direction: row-reverse;
  }
}
.info_content .info_content_deatils_container {
  flex: 1;
  padding: 0.5rem;
  color: var(--lightest-grey);
}
.info_content .info_content_deatils_container .content_detail_header {
  margin: 0.5em;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.info_content .info_content_deatils_container h5 {
  font-size: 1rem;
  margin-top: 1rem;
}
.info_content .info_content_deatils_container h5::before {
  content: "▹";
  color: var(--green);
  margin-right: 5px;
}
.info_content .info_content_deatils_container p {
  color: var(--light-grey);
  padding: 0.3rem calc(1rem + 5px);
}
.info_content .info_content_deatils_container li {
  color: var(--light-grey);
  padding: 0.1rem 1rem;
}
.info_content .info_content_deatils_container li::before {
  content: "~";
  margin-right: 2px;
}
.info_content .info_content_deatils_container span.marked {
  color: var(--light-green);
}

.works-container {
  padding-top: 100px;
}

.featured-project {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 10rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
@supports (display: grid) {
  .featured-project {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease-in-out transform, 1s ease-in-out opacity;
  }
}
.featured-project:focus-within {
  z-index: 50;
}
@supports (display: grid) {
  .featured-project {
    display: grid;
  }
}
.featured-project-content {
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 2.5rem;
  z-index: 10;
  opacity: 0.9;
  margin: 2rem auto;
}
@media screen and (min-width: 765px) {
  .featured-project-content {
    opacity: 1;
    background-color: transparent;
    grid-column: 5/-1;
    text-align: right;
    pointer-events: none;
  }
}
.featured-project-title {
  color: var(--green);
  font-size: 1rem;
  line-height: 0.6;
  margin-bottom: 0.7em;
  letter-spacing: 1px;
  line-height: 1em;
}
.featured-project-header {
  font-size: clamp(22px, 3vw, 30px);
  margin-bottom: 1em;
  line-height: 1.2;
  color: var(--white);
}
.featured-project-header a {
  pointer-events: all;
  color: var(--white);
  cursor: pointer;
}
.featured-project-header a:hover {
  color: var(--green);
}
.featured-project-paragraph {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  pointer-events: all;
  color: var(--lightest-grey);
}
@media screen and (min-width: 765px) {
  .featured-project-paragraph {
    background-color: var(--light-navy);
    padding: 1rem;
    transition: box-shadow var(--transition);
    box-shadow: -10px 10px 30px -15px var(--navy-shadow);
  }
  .featured-project-paragraph:hover {
    box-shadow: -20px 20px 30px -15px var(--navy-shadow);
  }
}
.featured-project-tech_used {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--light-grey);
  word-spacing: 1rem;
  pointer-events: none;
  text-transform: capitalize;
}
@media screen and (min-width: 765px) {
  .featured-project-tech_used {
    padding: 0 0 0 30%;
  }
}
.featured-project-links {
  display: flex;
  cursor: pointer;
  pointer-events: auto;
}
.featured-project-links a {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 0.6rem;
  transition: var(--transition);
}
@media screen and (min-width: 765px) {
  .featured-project-links {
    justify-content: flex-end;
  }
}
.featured-project-img {
  grid-column: 1/-1;
  border-radius: 10px;
  grid-row: 1/-1;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  opacity: 0.1;
}
@media screen and (min-width: 765px) {
  .featured-project-img {
    grid-row: 2/4;
    opacity: 1;
    grid-column: 1/7;
    background-color: var(--light-green);
    transition: background-color var(--transition);
  }
  .featured-project-img:hover {
    background-color: var(--white);
  }
}
@media screen and (min-width: 1080px) {
  .featured-project-img {
    grid-row: 1/-1;
  }
}
.featured-project-img img,
.featured-project-img source {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 765px) {
  .featured-project-img img,
.featured-project-img source {
    mix-blend-mode: multiply;
  }
}

.featured-project:nth-of-type(2n + 2) .featured-project-content {
  text-align: left;
}
@media screen and (min-width: 765px) {
  .featured-project:nth-of-type(2n + 2) .featured-project-content {
    grid-column: 1/9;
  }
}
@media screen and (min-width: 765px) {
  .featured-project:nth-of-type(2n + 2) .featured-project-paragraph {
    box-shadow: 10px 10px 30px -15px var(--navy-shadow);
  }
  .featured-project:nth-of-type(2n + 2) .featured-project-paragraph:hover {
    box-shadow: 20px 20px 30px -15px var(--navy-shadow);
  }
}
@media screen and (min-width: 765px) {
  .featured-project:nth-of-type(2n + 2) .featured-project-tech_used {
    padding: 0 30% 0 0;
  }
}
.featured-project:nth-of-type(2n + 2) .featured-project-links {
  justify-content: flex-start;
}
@media screen and (min-width: 765px) {
  .featured-project:nth-of-type(2n + 2) .featured-project-img {
    grid-column: 7/-1;
  }
}

@supports (display: grid) {
  .other-projects {
    transform: translateY(100px);
    opacity: 0;
    transition: 0.6s ease-in-out transform, 0.6s ease-in-out opacity;
  }
}
.other-projects-heading {
  margin-top: 100px;
  text-align: center;
  font-size: 2rem;
  font-size: clamp(24px, 5vw, 30px);
}
.other-projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
}
@supports (display: grid) {
  .other-projects-container {
    display: grid;
  }
}

.other-project {
  background-color: var(--light-navy);
  padding: 2rem 1.5rem;
  margin: 1rem auto;
}
@supports (display: grid) {
  .other-project {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease-in-out transform, 1s ease-in-out opacity;
  }
}
.other-project-links {
  display: flex;
  cursor: pointer;
  pointer-events: auto;
  justify-content: flex-end;
}
.other-project-links a {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 0.6rem;
  transition: var(--transition);
}
.other-project-header {
  margin-bottom: 0.2em;
  font-size: 1.5rem;
}
.other-project-header a {
  color: var(--white);
  transition: var(--transition);
}
.other-project-header a:hover {
  color: var(--green);
}
.other-project-paragraph {
  font-size: 1.2rem;
  height: 100px;
  color: var(--lightest-grey);
  padding: 1rem 0;
}
.other-project-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.other-project-tech_used {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--light-grey);
  word-spacing: 1rem;
  pointer-events: none;
  text-transform: capitalize;
}
.other-project-img {
  width: 70px;
  height: 50px;
  background-color: var(--grey);
  margin: 1em;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--transition);
}
.other-project-img:hover {
  background-color: var(--white);
}
.other-project-img img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.contact-whatsnext {
  color: var(--green);
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
}
.contact-header {
  color: var(--lightest-grey);
  font-size: clamp(40px, 5vw, 60px);
  margin: 1rem 0;
}
.contact-paragraph {
  font-size: var(--fz-paragraph);
  margin: 1.5rem 0 2rem 0;
}

.contact_form_seperator {
  margin: 5rem auto;
  text-align: center;
}

.contact-form-container {
  width: 100%;
  max-width: 600px;
  padding-top: 2rem;
  margin: auto;
}
.contact-form-container button {
  display: block;
  margin: auto;
  background-color: transparent;
}

.contact-form-layout {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  margin: 1rem auto;
}
.contact-form-layout .contact-form-header {
  grid-column: 1/-1;
  font-size: 1.6rem;
  color: var(--lightest-grey);
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 650px) {
  .contact-form-layout {
    grid-template-columns: 1fr 1fr;
  }
}

.input_field_container {
  display: flex;
  flex-direction: column-reverse;
}
.input_field_container:last-of-type {
  grid-column: 1/-1;
}
.input_field_container label {
  color: var(--green);
  transform: translate(0.7rem, 2rem);
  transition: var(--transition);
}
.input_field_container input,
.input_field_container input:-webkit-autofill,
.input_field_container textarea {
  font-size: 1.3rem;
  padding: 0.3em 0;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--green);
  caret-color: var(--green);
  color: var(--lightest-grey);
  margin-bottom: 1.5em;
  margin-top: 0.3em;
  width: 100%;
}
.input_field_container input:focus + label, .input_field_container input[input_empty=true] + label,
.input_field_container input:-webkit-autofill:focus + label,
.input_field_container input:-webkit-autofill[input_empty=true] + label,
.input_field_container textarea:focus + label,
.input_field_container textarea[input_empty=true] + label {
  transform: none;
}
.input_field_container textarea {
  resize: vertical;
}

.social_links_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.social_links_container li {
  width: 25px;
  height: 25px;
  margin: 1rem;
}
.social_links_container svg {
  color: var(--light-grey);
  transition: color var(--transition);
}
.social_links_container svg:hover, .social_links_container svg:focus {
  color: var(--green);
}
@media screen and (min-width: 765px) {
  .social_links_container {
    display: none;
  }
}

.footer_container {
  margin-bottom: 4rem;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
